@import "../common/common.scss";

@include projection-theme;

@include link-color(#cc9933);

body {
  background: white url(background.png) fixed;
  color: #333333;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 0.1em 0.1em 0.1em #999999;
}

.slide {
  padding-top: 4em;
  padding-left: 6%;
  width: 88%;
  height: 75%;
  & > h1 {
    position: absolute;
    text-shadow: 0.1em 0.1em 0.1em #333333;
    margin-top: -2.25em;
    color: white;
  }
  .current {
    color: #bb0022;
  }
}

#header {
  background: transparent url(header.png) bottom;
  height: 6em;
}

#footer {
  background: #999999 url(footer.png) top;
  color: white;
}

#currentSlide {
  color: white;
}

#slide1 > h1 {
  font-size: 2em;
  position: static;
  margin-left: 0;
  margin-top: 1em;
  color: #333333;
  text-shadow: 0.1em 0.1em 0.1em #999999;
}
